#map {
  height: 50rem;
  width: 50rem;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: min-content;

  margin: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-size: 1.25rem;
  text-align: end;
}

.results-found {
  color: #df1313;
  font-weight: bold;
  font-size: 1.15rem;
  text-align: end;
  margin-right: 2rem;
}

@media screen and (max-width: 1400px) {
  #map {
    height: 30rem;
    width: 30rem;
  }
}

@media screen and (max-width: 800px) {
  #map {
    height: 20rem;
    width: 20rem;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card.mb-3 {
    width: 20rem !important;
  }

  .cards img {
    max-width: 100px;
  }
}